<div class="header">
    <div class="project-title">ToDoList</div>
    <div class="github-icon">
        <a class="github-icon-link" href="https://github.com/MukolaManeilo/NodeJS-ToDoList.git">
            <img class="github-icon-img" src="http://localhost:3000/github.png">
        </a>
    </div>
</div>